* {
  transition: all 0.5s ease !important;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  padding: 10px 50px;
  border-radius: 10px;
  flex: 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_face {
  width: 40%;
  display: flex;
}
.right_options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 40px;
}

#face {
  width: 512px;
  height: 512px;
}

svg.happy path,
svg.sad path {
  fill: transparent;
}

svg.sad path {
  transform: scaleY(-1);

  transform-origin: 50% 80%;
}
@keyframes wink {
  0%,
  20%,
  70% {
    transform: scale(1, 0.5);
  }

  30%,
  50%,
  90%,
  100% {
    transform: scale(1);
  }
}

svg.wink .eye:last-of-type {
  /* Ensure the default element is at normal scale */
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: wink 2000ms ease-in-out 2;
}
/* .mouth {
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: smile 2000ms ease-in-out 1;
} */
/* 
.mouth.smile {
  transition: all 1s;
  d: path("M57 181 C63 189, 79 200, 91 181");
  animation: smile;
} */

@keyframes smile {
  from {
    d: path("M57,181 C57 181, 57 181,  100 181");
  }
  to {
    d: path("M57,181 C63 189, 79 200, 91 181");
  }
}

.mouth.smile {
  animation: smile 1s ease-in-out forwards;
}
.mouth.sad {
  transition: 0.5s;
  d: path("M57,181 C60 172 90 173 92.5 181");
}

.brow-right.inner {
  transition: 0.5s;
  d: path("M27.5 103.5C36.8333 103 56.5 111.8 56.5 113");
}

.brow-left.inner {
  transition: 0.5s;
  d: path("M122 102C113.064 101.245 94.4532 109.189 93.5 111");
}
.brow-right.outer {
  transition: 0.5s;
  d: path("M28 94.4992C37.3333 93.9992 55.5 102.3 55.5 103.5");
}
.brow-left.outer {
  transition: 0.5s;
  d: path("M123.5 92.9996C114.564 92.2446 94.9532 100.189 94 102");
}
.brow-left.outer.inner {
  transition: 0.5s;
  d: path("M122 96C114 96 94.9532 105 94 105");
}

.brow-left.lowerer {
  transition: 1s;
  d: path("M116.5 108.5C106.705 107.745 91.5449 111.689 90.5 113.5");
}
.brow-right.lowerer {
  transition: 1s;
  d: path("M32.5 108.5C41.8333 108 60 112.3 60 113.5");
}

.lid-right.raiser {
  transition: 1s;
  d: path(
    "M92.3112 113.578C108.744 106.507 118.178 111.599 122.091 114.546C127.177 124.708 109.538 123.527 103.506 125C89.6494 122.239 76.2699 120.649 92.3112 113.578Z"
  );
}
.lid-left.raiser {
  transition: 1s;
  d: path(
    "M55.6888 113.816C39.2563 106.275 29.8218 111.707 25.9093 114.849C20.823 125.689 38.462 124.428 44.4938 126C58.3506 123.055 71.7302 121.359 55.6888 113.816Z"
  );
}

.check-left.raiser {
  transition: 1s;
  d: path(
    "M48.9524 133.5C45.9272 129.144 38.8396 123.046 34.6907 133.5C29.5047 146.568 55.4349 138.985 48.9524 133.5Z"
  );
}

.check-right.raiser {
  transition: 1s;
  d: path(
    "M118.952 133.773C115.928 129.416 108.84 123.318 104.691 133.773C99.5047 146.841 125.435 139.257 118.952 133.773Z"
  );
}
.lid-left.narrow {
  transition: 1s;
  d: path(
    "M55.6888 116.146C39.2563 111.904 29.8218 114.96 25.9093 116.728C20.823 122.825 38.462 122.116 44.4938 123C58.3506 121.343 71.7302 120.389 55.6888 116.146Z"
  );
}

.lid-right.narrow {
  transition: 1s;
  d: path(
    "M92.3112 116.147C108.744 111.904 118.178 114.96 122.091 116.728C127.177 122.825 109.538 122.116 103.506 123C89.6494 121.343 76.2699 120.389 92.3112 116.147Z"
  );
}

.lip.puller {
  transition: 1s;
  d: path("M99 182C93.0813 188.792 76.3951 198.3 57 182");
}

.lip.puffer {
  transition: 1s;
  d: path("M54 171.5C54 171.5 77 184.158 98 170.973");
}
.lip.dimpler {
  transition: 1s;
  d: path("M50,181 C57 183, 102 183,  110 181");
}

.lip.depressor {
  transition: 1s;
  d: path("M103.5 183C98.5 178.5 62.5 176 52 183");
}
.lip.dimpler {
  transition: 1s;
  d: path("M48.5 183C48.5 183 81 177.5 106 183.501");
}
.lip.raiser {
  transition: 1s;
  d: path("M53 181C53 181 67 169.5 99 181");
}

.nose.winkler {
  transition: 0.5s;
  d: path(
    "M68.1581 122C68.6188 132.19 69.2638 152.65 68.1581 152.976C67.0525 153.302 72.0757 150.123 73 152.976"
  );
}
.hidden {
  transition: 0.5s;
  opacity: 0;
}
.check-left.lower {
  transition: 0.5s;
  d: path(
    "M114.533 144.859C112.199 141.192 106.733 136.059 103.533 144.859C99.5327 155.859 119.533 149.476 114.533 144.859Z"
  );
}
.check-right.lower {
  transition: 0.5s;
  d: path(
    "M43.5327 144.859C41.1994 141.192 35.7327 136.059 32.5327 144.859C28.5327 155.859 48.5327 149.476 43.5327 144.859Z"
  );
}

.myClass1 {
  color: green;
}
.myClass2 {
  color: red;
}
