* {
  transition: all 0.5s ease !important;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  padding: 10px 50px;
  border-radius: 10px;
  flex: 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_face {
  width: 40%;
  display: flex;
}
.right_options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 40px;
}

#face {
  width: 512px;
  height: 512px;
}

svg.happy path,
svg.sad path {
  fill: transparent;
}

svg.sad path {
  transform: scaleY(-1);

  transform-origin: 50% 80%;
}
@keyframes wink {
  0%,
  20%,
  70% {
    transform: scale(1, 0.5);
  }

  30%,
  50%,
  90%,
  100% {
    transform: scale(1);
  }
}

svg.wink .eye:last-of-type {
  /* Ensure the default element is at normal scale */
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: wink 2000ms ease-in-out 2;
}
/* .mouth {
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: smile 2000ms ease-in-out 1;
} */
/* 
.mouth.smile {
  transition: all 1s;
  d: path("M57 181 C63 189, 79 200, 91 181");
  animation: smile;
} */

@keyframes smile {
  from {
    d: path("M57,181 C57 181, 57 181,  100 181");
  }
  to {
    d: path("M57,181 C63 189, 79 200, 91 181");
  }
}

.mouth.smile {
  animation: smile 1s ease-in-out forwards;
}
.mouth.sad {
  transition: 0.5s;
  d: path("M57,181 C60 172 90 173 92.5 181");
}

.brow-right.inner {
  transition: 0.5s;
  d: path("M122 102C113.064 101.245 95.5 94.5 93.5 101.999");
}
.brow-left.inner {
  transition: 0.5s;
  d: path("M27.5 103.501C36.8333 103.001 58.5 96 55.5 103.501");
}
.brow-right.outer {
  transition: 0.5s;
  d: path("M121.5 102.745C134 96 92.9999 100.245 92.9999 102.744");
}
.brow-left.outer {
  transition: 0.5s;
  d: path("M27.4998 103.504C24 96 55.4998 101.003 55.4998 103.504");
}

.brow-left.lowerer {
  transition: 1s;
  d: path("M30 106.028C39.3333 105.528 58 112.026 58 106.028");
}
.brow-right.lowerer {
  transition: 1s;
  d: path("M120 105C111.064 104.245 89 110.004 91.5 104.999");
}

.lid-right.raiser {
  transition: 1s;
  d: path(
    "M92.3112 115.101C108.744 108.973 118.178 113.387 122.091 115.94C127.177 124.748 109.538 123.723 103.506 125C89.6494 122.606 76.2698 121.228 92.3112 115.101Z"
  );
}
.lid-left.raiser {
  transition: 1s;
  d: path(
    "M55.6888 115.339C39.2563 108.74 29.8218 113.493 25.9093 116.243C20.823 125.728 38.462 124.625 44.4938 126C58.3506 123.422 71.7302 121.938 55.6888 115.339Z"
  );
}

.check-left.raiser {
  transition: 1s;
  d: path(
    "M115.5 131C111.833 129 103.8 126.2 101 131C97.5001 137 119.5 135 115.5 131Z"
  );
}

.check-right.raiser {
  transition: 1s;
  d: path(
    "M49.5235 130.47C45.9444 128.606 38.103 125.996 35.3699 130.47C31.9535 136.063 53.4279 134.199 49.5235 130.47Z"
  );
}
.lid-left.narrow {
  transition: 1s;
  d: path(
    "M55.6888 116.385C39.2563 111.672 29.8218 115.067 25.9093 117.031C20.823 123.806 38.462 123.018 44.4938 124C58.3506 122.159 71.7302 121.099 55.6888 116.385Z"
  );
}

.lid-right.narrow {
  transition: 1s;
  d: path(
    "M92.3112 116.147C108.744 111.904 118.178 114.96 122.091 116.727C127.177 122.825 109.538 122.116 103.506 123C89.6494 121.343 76.2698 120.389 92.3112 116.147Z"
  );
}

.lip.puller {
  transition: 1s;
  d: path("M53 181C53 181 68.5 201.5 96 181");
}

.lip.puffer {
  transition: 1s;
  d: path("M54 171.5C54 171.5 77 184.158 98 170.973");
}
.lip.dimpler {
  transition: 1s;
  d: path("M50,181 C57 183, 102 183,  110 181");
}

.lip.depressor {
  transition: 1s;
  d: path("M53 181C53 181 75.5 190 100 182");
}
.lip.dimpler {
  transition: 1s;
  d: path("M48.5 183C48.5 183 81 177.5 106 183.501");
}
.lip.raiser{
  transition: 1s;
  d:path("M53 181C53 181 67 169.5 99 181");
}

.nose.winkler {
  transition: 0.5s;
  d: path(
    "M68.1581 122C68.6188 132.19 69.2638 152.65 68.1581 152.976C67.0525 153.302 72.0757 150.123 73 152.976"
  );
}
.hidden {
  transition: 0.5s;
  opacity: 0;
}
.check-left.lower {
  transition: 0.5s;
  d: path(
    "M114.533 144.859C112.199 141.192 106.733 136.059 103.533 144.859C99.5327 155.859 119.533 149.476 114.533 144.859Z"
  );
}
.check-right.lower {
  transition: 0.5s;
  d: path(
    "M43.5327 144.859C41.1994 141.192 35.7327 136.059 32.5327 144.859C28.5327 155.859 48.5327 149.476 43.5327 144.859Z"
  );
}
