svg.happy path,
svg.sad path {
  fill: transparent;
}

svg.sad path {
  transform: scaleY(-1);

  transform-origin: 50% 80%;
}
@keyframes wink {
  0%,
  20%,
  70% {
    transform: scale(1, 0.5);
  }

  30%,
  50%,
  90%,
  100% {
    transform: scale(1);
  }
}

@keyframes smile {
  0%,
  20%,
  70% {
    transform: scaleY(-1);
  }

  30%,
  50%,
  90%,
  100% {
    transform: scale(1);
  }
}
svg.wink .eye:last-of-type {
  /* Ensure the default element is at normal scale */
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: wink 2000ms ease-in-out 2;
}
/* .mouth {
  transform: scale(1);
  transform-origin: 10% 0%;
  animation: smile 2000ms ease-in-out 1;
} */

.mouth.smile {
  transition: all 1s;
  d: path("M57 181 C63 189, 79 200, 91 181");
}
.mouth.sad {
  transition: 1s;
  d: path("M57 181 C60 172 90 173 92.5 186");
}

.brow-right.inner {
  d: path(
    "M119.266 91.4429C120.071 91.0548 125.257 92.0318 127.75 92.5688C129.245 92.8771 127.713 95.0685 127.213 95.0611C126.713 95.0537 122.706 95.4943 122.213 94.9869C121.721 94.4796 115.707 95.3905 114.714 94.8757C113.722 94.3609 100.239 97.5369 97.7323 97.9997C95.2252 98.4626 95.7104 97.4702 97.7324 96C99.7544 94.5298 101 94.8164 105 94.8757C107.022 93.4056 118.258 91.928 119.266 91.4429Z"
  );
}
.brow-left.inner {
  d: path(
    "M28.2526 91.235C27.4586 90.8231 22.2457 91.6459 19.7386 92.1088C18.2344 92.3725 19.7015 94.6084 20.2015 94.6159C20.7015 94.6233 24.6936 95.1825 25.201 94.69C25.7084 94.1975 31.693 95.2864 32.7003 94.8013C33.7076 94.3161 47.0899 97.8906 49.5822 98.4276C52.0746 98.9647 51.619 97.9583 49.6415 96.4288C47.6639 94.8993 46.4099 95.1487 42.4103 95.0894C40.4327 93.56 29.2451 91.7497 28.2526 91.235Z"
  );
}
.brow-right.outer {
  d: path(
    "M121 87.4996C121.806 87.1115 125.258 92.0286 127.75 92.5656C129.246 92.8739 127.713 95.0653 127.213 95.0578C126.713 95.0504 122.493 91.7213 122 91.214C121.507 90.7066 116 92.1692 114.714 93.5208C113.944 94.3309 100.201 95.6573 97.6938 96.1201C95.1867 96.583 95.7103 94.991 97.7323 93.5208C99.7544 92.0506 101.32 92.5739 105.32 92.6332C107.342 91.1631 119.993 87.9847 121 87.4996Z"
  );
}
.brow-left.outer {
  d: path(
    "M28.8909 87.0344C28.097 86.6226 24.5012 91.4351 21.9942 91.898C20.4902 92.1617 21.9572 94.3976 22.4571 94.405C22.957 94.4125 27.2739 91.21 27.7813 90.7175C28.2886 90.2249 33.7499 91.8502 34.9949 93.2394C35.7411 94.0719 49.4374 95.8054 51.9295 96.3424C54.4217 96.8794 53.9455 95.2726 51.9681 93.7431C49.9908 92.2136 48.4104 92.6902 44.4111 92.6309C42.4337 91.1014 29.8833 87.5492 28.8909 87.0344Z"
  );
}

.brow-left.lowerer {
  d: path(
    "M103.523 98.319C104.202 97.7367 109.464 97.3469 112.011 97.2249C113.536 97.1381 112.618 99.65 112.133 99.7714C111.648 99.8928 107.889 101.349 107.283 100.986C106.676 100.622 101.099 103.049 100.007 102.807C98.9158 102.565 86.1842 107.298 83.8804 108.39C81.5767 109.483 81.6732 107.809 83.2491 105.869C84.825 103.928 86.4725 104.031 90.3528 103.059C91.9286 101.119 102.674 99.0468 103.523 98.319Z"
  );
}
.brow-right.lowerer {
  d: path(
    "M43.9412 99.7718C43.2263 99.2324 37.9403 99.1656 35.3867 99.1997C33.8571 99.2064 34.9305 101.656 35.423 101.748C35.9155 101.839 39.764 103.062 40.3478 102.662C40.9315 102.262 46.6587 104.342 47.7349 104.034C48.811 103.726 61.8341 107.669 64.2052 108.617C66.5763 109.566 66.3758 107.903 64.6796 106.063C62.9834 104.223 61.3427 104.427 57.4029 103.695C55.7067 101.855 44.8349 100.446 43.9412 99.7718Z"
  );
}
